html {
    font-family: 'Montserrat', sans-serif;
}
body {
    margin: 0px;
    background-color: #efefef
    ;
}
.inicio {
text-align: center;

}
.contenido {
    
}
.post {
    text-align: center;
    padding: 50px;
    border-style: solid;
    border-color: blueviolet;
    background-color: grey;
}
#titulo {
text-align: center;
background-color: lightslategrey;
color: white;
padding: 3rem 2rem;
}

header h1 {
    font-size: 2rem;
}


ul {
    list-style: none;
    text-align: right;
    padding-left: 0px;
}
